/* style for form container */
.logForm {
  position: relative;
  left: 30%;
  top: 30%;
  min-width: 250px;
  background-color: #a9e297;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 20px 30px 0 #7e7878;
}

/* style for login button */
.logBtn {
  padding: 4px 30px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 5px 10px 0 rgb(101, 168, 95);
  font-size: larger;
  background-color: blue;
  color: white;
}

/* style for input*/
.inputDiv {
  display: absolute;
  text-align: center;
  font-size: large;
  margin-top: 5px;
  color: black;
  padding: 10px;
}

/* style when hover effect*/
.logBtn:hover {
  background-color: #3fe90c;
}

@media (max-width: 900px) {
  .logForm {
    position: relative;
    left: 10%;
    top: 30%;
  }
}
