/* style for register container */
.registerCard {
  position: absolute;
  min-width: 300px;
  left: 30%;
  top: 20%;
  background-color: #a9e297;
  padding: 30px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 20px 30px 0 #7e7878;
  text-align: center;
}

/* style for input*/
input {
  font-size: larger;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  color: black;
}

/* style for submit button*/
.registerBtn {
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 30px 10px 30px;
  font-size: larger;
}

/* style when hover*/
.registerBtn:hover {
  background-color: green;
}

@media (max-width: 900px) {
  .registerCard {
    position: absolute;
    left: 2.5%;
    top: 30%;
  }
}
