/* HOME PAGE STYLE */
.homePageStyle {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 50px auto auto;
  font-size: xx-large;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: coral;
  padding: 10px;
}

img {
  width: 100%;
  border-radius: 5px;
}
.imgStyle {
  position: relative;
}

.imgTextStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(232, 9, 184);
  background-color: aqua;
  padding: 10px;
  border-radius: 5px;
}
