/* HOME PAGE STYLE */

.TaskTitle {
  background-color: rgba(154, 212, 61, 0.6);
  padding: 30px;
  width: 100%;
  color: red;
  font-size: 3em;
  border-radius: 5px;
  box-shadow: 4px 10px 10px 0px rgba(154, 212, 61, 0.2);
}

.HomePage {
  background-image: url("../../Assets/images/taskmg.jpg");
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
