.taskDetailPage {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 3em;
}

.createLinkStyle {
  display: flex;
  font-size: 3em;
  color: rgb(226, 43, 43);
}

@media (max-width: 900px) {
  .taskDetailPage {
    display: grid;
    grid-template-columns: 1fr;
  }
}
