/*  HEADER STYLE*/

.brand {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 15px;
}

.brandName {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: bold;
  font-style: oblique;
  font-size: 2.1em;
}

.headerNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  font-size: 1.5em;
}
