.taskDetailCard {
  display: grid;
  justify-items: center;
  justify-self: center;
  padding: 10px;
  background-color: pink;
  margin-bottom: 6px;
}

.btnGroupStyle {
  display: block;
  padding: 5px;
}

.btnStyle {
  margin: 10px;
  border-radius: 5px;
}

.linkStyle {
  text-decoration: none;
}
