.taskDetailCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(180, 247, 149);
  padding: 1em;
  margin-bottom: 10px;
  justify-content: space-around;
  border-radius: 1em;
}

.taskDetailCard span {
  padding: 10px;
}

.createIconStyle {
  color: blue;
  margin-right: 8px;
  padding: 5px;
}

.deleteIconStyle {
  color: red;
  padding: 5px;
}
